.options-holder {
    height: 75px;
    
}

.options-name {
    font-size: x-large;
    margin: 15px;
}

.options-button {
    margin: 15px;
}

.identification {
    font-size: large;
    margin: 20px;
    padding-left: 5px;
    color: #036a8a;
}