.page-tabs {
    background-color: rgb(54, 54, 54);
}

.nav-item {
    color: white;
    font-size: large;
}

.bank-name {
    font-size: x-large;
    
}

.bg-success {
    width: auto;
    padding-top: 1px;
    margin: 8px;
}

.nav-link {
    color: white;
    margin: 8px;
    padding: 5px;
}